/* CSS reset
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
/* reset complete
*/

.title, .gametile, .score-display{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title{
    color: #0079FF;
    font-size: 3rem;
    font-weight: bolder;
    background-color: #F6FA70;
    text-align: center;
}

.game-display{
    margin: auto;
    padding: 30px;
    display: flex;
    width: 100%;
    background-color: #0079FF;
}
.board{
    display: grid;
    grid-template-rows: repeat(3, 250px);
    grid-template-columns: repeat(3, 250px);
    gap: 15px;
    background-color: #0079FF;
    margin:auto;

}

.game-tile{
    background-color: #ECF8F9;
    border-radius: 20px;
    margin: auto;
    min-height: 250px;
    min-width: 250px;
}

.game-tile:hover{
    transform: scale(1.1);
    border: #0079FF;
    background-color: #abeef5;

}